<%# navigation styled for Twitter Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
      <%#= link_to 'Vasu Thanyam Store online' ,visitor_new_path,:class => "navbar-brand" %>
      <a class="navbar-brand" href="/">Vasu Thanyam Store online </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Services' ,services_path %>

        <li>
          <!--<a href="contact.php">Contact</a>-->
          <%= link_to 'Contact' ,contact_path %>

        </li>
        <li class="dropdown">
            <%= link_to "products",products_display_path%>
        </li>
        <li>
          <%= link_to 'About' ,about_path %>

        </li>
        <li>
          <%= link_to 'Our Blog ' ,blog_path %>
        </li>
        <li>
          <%= link_to 'Other Pages' ,other_path %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>


